@mixin soft($sec) {
  transition: all sec;
}

@mixin bgImg($height, $path) {
  background: linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
    ),
    url($path);
  height: $height;
  width: 100%;
  background-size: cover;
  background-position: center;
}
