/* Error: Undefined mixin.
 *    ,
 * 71 | / @include mixins.edia-lg{
 * 72 | |   .nav {
 * 73 | |     &__item {
 * 74 | |       padding-right: 1.5rem;
 * 75 | |     }
 * 76 | |     .nav__link {
 * 77 | |       font-size: 1.5rem;
 * 78 | |     }
 * 79 | |   }
 * 80 | | 
 * 81 | |   .projects__item {
 * 82 | |     width: 50%;
 * 83 | |   }
 * 84 | |   .contact__list {
 * 85 | |     flex-direction: row;
 * 86 | |   }
 * 87 | \ }
 *    '
 *   scss/components/_responsive.scss 71:1  @use
 *   scss/main.scss 17:1                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 71 \2502  \250c  @include mixins.edia-lg{\a 72 \2502  \2502    .nav {\a 73 \2502  \2502      &__item {\a 74 \2502  \2502        padding-right: 1.5rem;\a 75 \2502  \2502      }\a 76 \2502  \2502      .nav__link {\a 77 \2502  \2502        font-size: 1.5rem;\a 78 \2502  \2502      }\a 79 \2502  \2502    }\a 80 \2502  \2502  \a 81 \2502  \2502    .projects__item {\a 82 \2502  \2502      width: 50%;\a 83 \2502  \2502    }\a 84 \2502  \2502    .contact__list {\a 85 \2502  \2502      flex-direction: row;\a 86 \2502  \2502    }\a 87 \2502  \2514  }\a    \2575 \a   scss/components/_responsive.scss 71:1  @use\a   scss/main.scss 17:1                    root stylesheet";
}
